/* <div class="formulario">
            <p class="formulario-titulo">Acompanhe as nossas oportunidades</p>
            <p class="formulario-descricao">Seja o primeiro a saber quando novas vagas serão abertas!</p>
            <div class="captar-informacoes">
                <input type="email" placeholder="Seu e-mail" class="formulario-email">
                <button>Cadastrar</button>
            </div>
            <footer class="rodape">© 2022 OptimusTech. Todos os direitos reservados.</footer>
        </div>*/
.formulario {
    background: var(--gray-50, #F9FAFB);
    text-align: center;
    padding: 4em 6em;
}

.formulario-titulo {
    font-size: 36px;
    color: var(--cinza-escuro);
    font-weight: 600;
}

.formulario-descricao {
    font-size: 20px;
    font-weight: 400;
}

.captar-informacoes {
    padding: 1em 0 2em 0;
}

.formulario-email {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: var(--base-white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: 1em;
    padding-right: 14em;
}

.formulario-botao {
    background-color: var(--vermelho);
    border-radius: 8px;
    padding: 1em;
    color: white;
    border: none;
    margin-left: 1.5em;
}

.rodape {
    font-weight: 400;
}